@keyframes button-pop {
  0% {
    transform: scale(var(--btn-focus-scale, 0.98));
  }

  40% {
    transform: scale(1.02);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes checkmark {
  0% {
    background-position-y: 5px;
  }

  50% {
    background-position-y: -2px;
  }

  100% {
    background-position-y: 0;
  }
}

@keyframes modal-pop {
  0% {
    opacity: 0;
  }
}

@keyframes progress-loading {
  50% {
    background-position-x: -115%;
  }
}

@keyframes radiomark {
  0% {
    box-shadow: 0 0 0 12px hsl(var(--b1)) inset,
      0 0 0 12px hsl(var(--b1)) inset;
  }

  50% {
    box-shadow: 0 0 0 3px hsl(var(--b1)) inset,
      0 0 0 3px hsl(var(--b1)) inset;
  }

  100% {
    box-shadow: 0 0 0 4px hsl(var(--b1)) inset,
      0 0 0 4px hsl(var(--b1)) inset;
  }
}

@keyframes rating-pop {
  0% {
    transform: translateY(-0.125em);
  }

  40% {
    transform: translateY(-0.125em);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes toast-pop {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.c-relative {
  position: relative;
}

.c-flex {
  display: flex;
}

.c-h-40 {
  height: 10rem;
}

.c-h-full {
  height: 100%;
}

.c-w-full {
  width: 100%;
}

.c-items-center {
  align-items: center;
}

.c-justify-center {
  justify-content: center;
}

.c-overflow-hidden {
  overflow: hidden;
}

/* ----------------- COMPOSITLY -------------------- */

/* -------------------- ROOT STYLES -------------------- */

:root {
  /* Marketing Department */
  --c-primary-10: #f3f8fb;
  --c-primary-50: #bddffc;
  --c-primary-90: #acd4e4;
  --c-primary-100: #89c2d9;
  --c-primary-200: #7baec3;
  --c-primary-300: #61a5c2;
  --c-primary-350: #8cc7fa;
  --c-primary-400: #46aaff;
  --c-primary-500: #1961a4;
  --c-primary-600: #00509a;
  --c-primary-700: #004e98;
  --c-primary-800: #003e79;
  --c-primary-900: #00296b;
  --c-checkmark-fill-color: #7ac142;
}