@tailwind components;
@tailwind utilities;

/* ----------------- COMPOSITLY -------------------- */

/* -------------------- ROOT STYLES -------------------- */
:root {
  /* Marketing Department */
  --c-primary-10: #f3f8fb;
  --c-primary-50: #bddffc;
  --c-primary-90: #acd4e4;
  --c-primary-100: #89c2d9;
  --c-primary-200: #7baec3;
  --c-primary-300: #61a5c2;
  --c-primary-350: #8cc7fa;
  --c-primary-400: #46aaff;
  --c-primary-500: #1961a4;
  --c-primary-600: #00509a;
  --c-primary-700: #004e98;
  --c-primary-800: #003e79;
  --c-primary-900: #00296b;

  --c-checkmark-fill-color: #7ac142;
}